@font-face {
    font-family: 'NinjaNaruto'; 
    src: url('../font/njnaruto.ttf') format('truetype'); 
    font-weight: normal; 
    font-style: normal; 
}

/* body {
    background-color: black;
} */

.topCorner {
    position: fixed;
    top: 0%;
    width: 100%;
    height: auto;
    z-index: 99;
    font-size: 2.3em;
    margin-left: 4%;	
    color: white;
}

.NrTitle {
    display: inline-block;
    background: linear-gradient(to bottom, orange, #ff4500);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: #ff6b6b;
    -webkit-text-stroke: 2px white;
    font-family: 'NinjaNaruto', sans-serif;
    transition: opacity 3s ease-out;  
}

.TitrePrincipale {
    position: fixed;
    font-size: 2.7em;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    opacity: 100%;
}

.fadeOut {
    opacity: 0;
}

.fadeIn {
    opacity: 100%;
}

.hidden {
    display: none;
}

.resume {
    top: 0%;
    width: 100%;
    height: auto;
    position: relative;
   
}

.resumeBlock {
    margin-left: 2%;
    border-left: 3px solid white;
    font-family: "Schoolbell", cursive;
    color: white;
}

.resumeBlock > p {
    margin:10px;
    color: white;
    font-family: "Schoolbell", cursive;
    font-weight: 400;
    font-size: 1.2rem;
    font-style: normal;
}

.volumeContainer {
    position: fixed;
    top: 0;
    margin: 30px;
    right: 0;

}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 10rem;
  }
  
  /* Removes default focus */
  input[type="range"]:focus {
    outline: none;
  }
  
  /******** Chrome, Safari, Opera and Edge Chromium styles ********/
  input[type="range"]::-webkit-slider-runnable-track {
    background-color: #ffffff;
    border-radius: 1rem;
    height: 0.5rem;
  }
  
  /* slider thumb */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -8px; /* Centers thumb on the track */
    background: linear-gradient(to bottom, orange, #ff4500);
    border-radius: 0.5rem;
    height: 1.5rem;
    width: 2rem;
    border: 2px solid white;
  }
  
  input[type="range"]:focus::-webkit-slider-thumb {
    outline: 2.2px solid white;
  }
  
  /*********** Firefox styles ***********/
  /* slider track */
  input[type="range"]::-moz-range-track {
    background-color: #ffffff;
    border-radius: 1rem;
    height: 0.5rem;
  }
  
  /* slider thumb */
  input[type="range"]::-moz-range-thumb {
    background-color: #fb7c28;
    border: none;
    border-radius: 0.5rem;
    height: 1.5rem;
    width: 2rem;
  }
  
  input[type="range"]:focus::-moz-range-thumb{
    outline: 3px solid #fb7c28;
    outline-offset: 0.125rem;
  }

 .bottomRight{
    position: fixed;
    margin:10px;
    bottom: 0;
    right: 0;
    z-index: 999;
    font-size: 3em;
 }

 #skip {
    transition: opacity 1s ease-out;
 }